# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.playwright-mcp
/.vs/resume-page/FileContentIndex
/nul
/.vs/resume-page/v17/.wsuo
/.vs/resume-page/v17/DocumentLayout.json
/.vs/resume-page/v17/TestStore/0/000.testlog
/.vs/resume-page/v17/TestStore/0/testlog.manifest
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
*.pdf
/*.png
